
/*############################################################################*/
/* This section is Holy Grail layout stuff. */
/* https://philipwalton.github.io/solved-by-flexbox/demos/holy-grail/ */

body {
  display: flex;
  flex-direction: column;
  min-height: 97vh;
}
.contents {
  display: flex;
  flex-direction: column;
}
.col_left {
  flex: 0 0 16em;
  order: -1;
  overflow: auto;
}
.col_middle, .col_right {
  flex: 1;
}

.border {
  border: 2px solid #000000;
}

@media (min-width: 768px) {
  .contents {
    flex-direction: row;
    flex: 1;
  }
  .col_left {
    flex: 0 0 14em;
  }
  .col_middle, .col_right {
    flex: 1;
  }
}

body {
  background-color: #DCDCDC;
  font-family: 'Lucida Console', Monaco, monospace;
  text-align: center;
  color: #000000;
}
.col_left, .col_middle, .col_right, footer {
  padding: 10px;
}
.col_left, .col_middle, .col_right {
  text-align: left;
}

/*############################################################################*/
/* This section was copied from my JS Conway's Life implementation. */
/* I'm leaving irrelevant stuff here just in case we need it later. */
/* Because I might change the grey buttons to prettier radio ones. */

summary {
  font-weight: bold;
  font-size: 1.3em;
  padding: 5px;
}

/* Submit button */
#submit {
  margin: 20px;
}
input[type=button]{
  font-size: 110%;
  margin-top: 5px;
  padding: 8px 25px;
}

/* Radio button labels */
.selected         { color: #FFFFFF; }
.unselected       { color: #000000; }
.unselected:hover { color: #66FFFF; }

/* Flex of the header and footer */
.header_div, .footer_div {
  justify-content: flex-start;
  display: flex;
  flex: 1;
}
.header_title, .footer_title {
  flex: 1;
  order: 0;
}
.header_left, .footer_left {
  text-align: left;
  margin-left: 10px;
  flex: 0 0 260px;
  order: -1;
}
.header_left {
  margin-top: 10px;

}
.header_right, .footer_right {
  text-align: right;
  margin-right: 10px;
  flex: 0 0 260px;
  order: 1;
}
/* Centre height based on CC image on the right. */
.footer_title, .footer_left {
  margin-top: 8px;
}

/* Select option drop down */
select {
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 110%;
  padding: 4px 2px 2px 2px;
}
summary {
  cursor: pointer;
}
table.centre {
  margin-left: auto;
  margin-right: auto;
}

/*############################################################################*/
